

.table-container {
    overflow-x: auto;
    width: 350%;

}

.mat-table-responsive {
    min-width: 1000px; /* Adjust this value as needed */
}

.column-header, .column-cell {
    min-width: 170px; /* Adjust based on your need */
    max-width: 200px; /* Adjust based on your need */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mat-cell {
    min-height: 100px; /* Set a minimum height for cells */
    align-items: self-start;
    justify-content:start;
    padding: 8px;
  }

.column-header {
    font-weight: bold;
}

.column-cell {
    white-space: normal; /* Allow text wrapping */
    word-wrap: break-word; /* Wrap long words */
}

.loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .table-container.blurred {
    filter: blur(5px);
    pointer-events: none;
  }
