<div class="table-container">
    <mat-table [dataSource]="appData" class="mat-elevation-z8 mat-table-responsive">
      
      <!-- APP ID Column -->
    <ng-container matColumnDef="APP_ID">
        <th mat-header-cell *matHeaderCellDef class="column-header"> APP ID </th>
        <td mat-cell *matCellDef="let element" class="column-cell">
          <a href="#" (click)="openEditDialog(element); $event.preventDefault();" class="app-id-link">
            {{element['APP_ID']}}
          </a>
        </td>
      </ng-container>

    <!-- APP NAME Column -->
    <ng-container matColumnDef="APP NAME">
        <th mat-header-cell *matHeaderCellDef class="column-header"> APP NAME </th>
        <td mat-cell *matCellDef="let element" class="column-cell"> {{element['APP NAME']}} </td>
    </ng-container>

    <!-- DEPARTMENT Column -->
    <ng-container matColumnDef="DEPARTMENT">
        <th mat-header-cell *matHeaderCellDef class="column-header"> DEPARTMENT </th>
        <td mat-cell *matCellDef="let element" class="column-cell"> {{element['DEPARTMENT']}} </td>
    </ng-container>

    <!-- BUDGET DIFFERENCE Column -->
    <ng-container matColumnDef="Budget Difference">
        <th mat-header-cell *matHeaderCellDef class="column-header"> Budget Difference </th>
        <td mat-cell *matCellDef="let element" class="column-cell"> {{element['Budget Difference']}} </td>
    </ng-container>

    <!-- TARGET ALL APPLICATION TYPE AND TECH STACK TAGS Column -->
    <ng-container matColumnDef="Target All Application Type and Tech Stack Tags">
        <th mat-header-cell *matHeaderCellDef class="column-header"> Target All Application Type and Tech Stack Tags </th>
        <td mat-cell *matCellDef="let element" class="column-cell"> {{element['Target All Application Type and Tech Stack Tags']}} </td>
    </ng-container>

    <!-- FUNDABLE REASON Column -->
    <ng-container matColumnDef="Fundable reason">
        <th mat-header-cell *matHeaderCellDef class="column-header"> Fundable reason </th>
        <td mat-cell *matCellDef="let element" class="column-cell"> {{element['Fundable reason']}} </td>
    </ng-container>

    <!-- T-SHIRT INFRA LSV Column -->
    <ng-container matColumnDef="T-Shirt Infra LSV">
        <th mat-header-cell *matHeaderCellDef class="column-header"> T-Shirt Infra LSV </th>
        <td mat-cell *matCellDef="let element" class="column-cell"> {{element['T-Shirt Infra LSV']}} </td>
    </ng-container>

    <!-- FUNDING GENERATED Column -->
    <ng-container matColumnDef="Funding generated">
        <th mat-header-cell *matHeaderCellDef class="column-header"> Funding generated </th>
        <td mat-cell *matCellDef="let element" class="column-cell"> {{element['Funding generated']}} </td>
    </ng-container>

    <!-- BUDGET REMAINING AT FG-T-3 AFTER FUNDING DISTRIBUTION Column -->
    <ng-container matColumnDef="Budget remaining at FG-T-3 after funding distribution">
        <th mat-header-cell *matHeaderCellDef class="column-header"> Budget remaining at FG-T-3 after funding distribution </th>
        <td mat-cell *matCellDef="let element" class="column-cell"> {{element['Budget remaining at FG-T-3 after funding distribution']}} </td>
    </ng-container>

    <!-- STRATEGY BUDGET RECEIVED Column -->
    <ng-container matColumnDef="Strategy Budget received">
        <th mat-header-cell *matHeaderCellDef class="column-header"> Strategy Budget received </th>
        <td mat-cell *matCellDef="let element" class="column-cell"> {{element['Strategy Budget received']}} </td>
    </ng-container>

    <!-- INTERFACES IN/OUT Column -->
    <ng-container matColumnDef="Interfaces In/Out">
        <th mat-header-cell *matHeaderCellDef class="column-header"> Interfaces In/Out </th>
        <td mat-cell *matCellDef="let element" class="column-cell"> {{element['Interfaces In/Out']}} </td>
    </ng-container>

    <!-- T-SHIRT INTERFACES Column -->
    <ng-container matColumnDef="T-Shirt Interfaces">
        <th mat-header-cell *matHeaderCellDef class="column-header"> T-Shirt Interfaces </th>
        <td mat-cell *matCellDef="let element" class="column-cell"> {{element['T-Shirt Interfaces']}} </td>
    </ng-container>

    <!-- BUDGET REQUESTED Column -->
    <ng-container matColumnDef="Budget requested">
        <th mat-header-cell *matHeaderCellDef class="column-header"> Budget requested </th>
        <td mat-cell *matCellDef="let element" class="column-cell"> {{element['Budget requested']}} </td>
    </ng-container>

    <!-- COMPLETION ATTESTATION DATE Column -->
    <ng-container matColumnDef="Completion Attestation Date">
        <th mat-header-cell *matHeaderCellDef class="column-header"> Completion Attestation Date </th>
        <td mat-cell *matCellDef="let element" class="column-cell"> {{element['Completion Attestation Date']}} </td>
    </ng-container>

    <!-- DASHBOARD SCOPE Column -->
    <ng-container matColumnDef="Dashboard Scope">
        <th mat-header-cell *matHeaderCellDef class="column-header"> Dashboard Scope </th>
        <td mat-cell *matCellDef="let element" class="column-cell"> {{element['Dashboard Scope']}} </td>
    </ng-container>

    <!-- CRITICALITY Column -->
    <ng-container matColumnDef="Criticality">
        <th mat-header-cell *matHeaderCellDef class="column-header"> Criticality </th>
        <td mat-cell *matCellDef="let element" class="column-cell"> {{element['Criticality']}} </td>
    </ng-container>

    <!-- RESULTING AWS T-SHIRT LSV/JIRA Column -->
    <ng-container matColumnDef="Resulting AWS T-Shirt LSV/JIRA">
        <th mat-header-cell *matHeaderCellDef class="column-header"> Resulting AWS T-Shirt LSV/JIRA </th>
        <td mat-cell *matCellDef="let element" class="column-cell"> {{element['Resulting AWS T-Shirt LSV/JIRA']}} </td>
    </ng-container>

    <!-- APP MIGRATION ACTIVITY Column -->
    <ng-container matColumnDef="App Migration Activity">
        <th mat-header-cell *matHeaderCellDef class="column-header"> App Migration Activity </th>
        <td mat-cell *matCellDef="let element" class="column-cell"> {{element['App Migration Activity']}} </td>
    </ng-container>

    <!-- COMPLETION ATTESTATION FUNDING TOTAL Column -->
    <ng-container matColumnDef="Completion Attestation Funding Total">
        <th mat-header-cell *matHeaderCellDef class="column-header"> Completion Attestation Funding Total </th>
        <td mat-cell *matCellDef="let element" class="column-cell"> {{element['Completion Attestation Funding Total']}} </td>
    </ng-container>

    <!-- RESILIENCE CLASS Column -->
    <ng-container matColumnDef="Resilience Class">
        <th mat-header-cell *matHeaderCellDef class="column-header"> Resilience Class </th>
        <td mat-cell *matCellDef="let element" class="column-cell"> {{element['Resilience Class']}} </td>
    </ng-container>

    <!-- DB MIGRATION ACTIVITY Column -->
    <ng-container matColumnDef="DB Migration Activity">
        <th mat-header-cell *matHeaderCellDef class="column-header"> DB Migration Activity </th>
        <td mat-cell *matCellDef="let element" class="column-cell"> {{element['DB Migration Activity']}} </td>
    </ng-container>

    <!-- FUNDABLE Column -->
    <ng-container matColumnDef="Fundable">
        <th mat-header-cell *matHeaderCellDef class="column-header"> Fundable </th>
        <td mat-cell *matCellDef="let element" class="column-cell"> {{element['Fundable']}} </td>
    </ng-container>

    <!-- INITIAL ATTESTATION FUNDING TOTAL Column -->
    <ng-container matColumnDef="Initial Attestation Funding Total">
        <th mat-header-cell *matHeaderCellDef class="column-header"> Initial Attestation Funding Total </th>
        <td mat-cell *matCellDef="let element" class="column-cell"> {{element['Initial Attestation Funding Total']}} </td>
    </ng-container>

    <!-- HYPERSCALER Column -->
    <ng-container matColumnDef="Hyperscaler">
        <th mat-header-cell *matHeaderCellDef class="column-header"> Hyperscaler </th>
        <td mat-cell *matCellDef="let element" class="column-cell"> {{element['Hyperscaler']}} </td>
    </ng-container>

    <!-- MIGRATION METHOD Column -->
    <ng-container matColumnDef="Migration Method">
        <th mat-header-cell *matHeaderCellDef class="column-header"> Migration Method </th>
        <td mat-cell *matCellDef="let element" class="column-cell"> {{element['Migration Method']}} </td>
    </ng-container>

    <!-- MIGRATION PATH Column -->
    <ng-container matColumnDef="Migration Path">
        <th mat-header-cell *matHeaderCellDef class="column-header"> Migration Path </th>
        <td mat-cell *matCellDef="let element" class="column-cell"> {{element['Migration Path']}} </td>
    </ng-container>

    <!-- PILOT Column -->
    <ng-container matColumnDef="Pilot">
        <th mat-header-cell *matHeaderCellDef class="column-header"> Pilot </th>
        <td mat-cell *matCellDef="let element" class="column-cell"> {{element['Pilot']}} </td>
    </ng-container>

    <!-- DB CLOUD TARGET Column -->
    <ng-container matColumnDef="DB Cloud Target">
        <th mat-header-cell *matHeaderCellDef class="column-header"> DB Cloud Target </th>
        <td mat-cell *matCellDef="let element" class="column-cell"> {{element['DB Cloud Target']}} </td>
    </ng-container>

    <!-- INFRASTRUCTURE COMPONENTS Column -->
    <ng-container matColumnDef="Infrastructure Components">
        <th mat-header-cell *matHeaderCellDef class="column-header"> Infrastructure Components </th>
        <td mat-cell *matCellDef="let element" class="column-cell"> {{element['Infrastructure Components']}} </td>
    </ng-container>

    <!-- INITIAL ATTESTATION DATE Column -->
    <ng-container matColumnDef="Initial Attestation Date">
        <th mat-header-cell *matHeaderCellDef class="column-header"> Initial Attestation Date </th>
        <td mat-cell *matCellDef="let element" class="column-cell"> {{element['Initial Attestation Date']}} </td>
    </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  
    <mat-paginator
      (page)="onPageChange($event)"
      [length]="datasetLength"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
    ></mat-paginator>
</div>
  